html {
  scroll-behavior: smooth;
}

body {
  background-color:#16161E;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #aaaab3;
  font-size: 20px;
  margin: 0;
  line-height: 1.8;
  text-align: center;  
}

h1 {
  font-size: 250%;
}

h2 {
  font-size: 200%;
}

h3 {
  font-size: 150%;
}

p {
  font-size: 120%;
}

#main {
  width: 1505px;
  margin: auto;
}

#my_photo {
  border: none;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: 2%;
  width: 25%;
  opacity: 0.5;
  transition: width 1s;
}

#my_photo:hover {
  width: 22%;
  transition: width 1s;
}

.about_me {
  background-color: #ea2e49;
  padding: 15px;
  width:150px;
  color: white;
  opacity: 0.5;
  position:absolute;
  top: 30px;
  left: 680px;
  animation: fadeOut 10s ease;
  animation-fill-mode: forwards;
  border-radius: 40px;
  transition: width 1s, transform 1s;
  transform: rotate(100deg);
  
}

.about_me:hover {
  width: 200px;
  transform: rotate(0deg);
  transition: width 1s, transform 1s;
  
}

.work {
  background-color: #503178;
  padding: 15px;
  width:150px;
  color: white;
  opacity: 0.5;
  position:absolute;
  top: 130px;
  left: 460px;
  animation: fadeOut 10s ease;
  animation-fill-mode: forwards;
  border-radius: 40px;
  transition: width 1s, transform 1s;
  transform: rotate(25deg);
  
}

.work:hover {
  width: 200px;
  transform: rotate(0deg);
  transition: width 1s, transform 1s;  
}

.education {
  background-color: #B1733F;
  padding: 15px;
  width:150px;
  color: white;
  opacity: 0.5;
  position:absolute;
  top: 290px;
  left: 410px;
  animation: fadeOut 10s ease;
  animation-fill-mode: forwards;
  border-radius: 40px;
  transition: width 1s, transform 1s;
  transform: rotate(-15deg);
  
}

.education:hover {
  width: 200px;
  transform: rotate(0deg);
  transition: width 1s, transform 1s;
  
}

.skills {
  background-color: #29606D;
  padding: 15px;
  width:150px;
  color: white;
  opacity: 0.5;
  position:absolute;
  top: 420px;
  left: 460px;
  animation: fadeOut 10s ease;
  animation-fill-mode: forwards;
  border-radius: 40px;
  transition: width 1s, transform 1s;
  transform: rotate(-25deg);
  
}

.skills:hover {
  width: 200px;
  transform: rotate(0deg);
  transition: width 1s, transform 1s;
  
}

.hobbies {
  background-color: #B1AF3F;
  padding: 15px;
  width:150px;
  color: white;
  opacity: 0.5;
  position:absolute;
  top: 160px;
  left: 890px;
  animation: fadeOut 10s ease;
  animation-fill-mode: forwards;
  border-radius: 40px;
  transition: width 1s, transform 1s;
  transform: rotate(-25deg);
  
}

.hobbies:hover {
  width: 200px;
  transform: rotate(0deg);
  transition: width 1s, transform 1s;
  
}

.additional_information {
  background-color: #324475;
  padding: 15px;
  width:150px;
  color: white;
  opacity: 0.5;
  position:absolute;
  top: 300px;
  left: 900px;
  animation: fadeOut 10s ease;
  animation-fill-mode: forwards;
  border-radius: 40px;
  transition: width 1s, transform 1s;
  transform: rotate(5deg);
  
}

.additional_information:hover {
  width: 200px;
  transform: rotate(0deg);
  transition: width 1s, transform 1s;
  
}

.contact {
  background-color: #328D32;
  padding: 15px;
  width:150px;
  color: white;
  opacity: 0.5;
  position:absolute;
  top: 420px;
  left: 880px;
  animation: fadeOut 10s ease;
  animation-fill-mode: forwards;
  border-radius: 40px;
  transition: width 1s, transform 1s;
  transform: rotate(15deg);
  
}

.contact:hover {
  width: 200px;
  transform: rotate(0deg);
  transition: width 1s, transform 1s;
  
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(30deg);
  }
}

@keyframes fadeOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}

#my_name {
  letter-spacing: 6px;
  text-align: center;
  font-size: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
  animation: letter_spacing 7s ease;
}

@keyframes letter_spacing {
  from {letter-spacing: 32px;}
  to {letter-spacing: 6px;}
}  

#line {
  width: 20%;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  position: relative;
  top: -35px;  
}

#profession {
  text-align: center;
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  position: relative;
  top: -90px;
}  

#header {
  display: block;
  margin-left: auto;
  margin-right: auto; 
}

div img {
  opacity: 0.8;
  padding: 3px 5px 3px 5px;
  margin: 5px 5px 5px 5px;
}

/*#navbar {
  position: fixed;
  float: left;
  animation: navbar 3s ease;
}

@keyframes navbar {
  from {left: -80px;}
  to {left: 8px;}
}*/

/*.icons {
  width: 33px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  transition: width 1s;
}

.icons:hover {
  /**border: solid black 2px;
  border-radius: 10px;**/
  /**animation: shake 0.7s; 
  /**animation-iteration-count: infinite; **/
  /**animation: zoom 0.4s ease;
  animation-fill-mode: forwards;
  animation-direction: alternate;**/
  /*width: 60px; 
  transition: width 0.4s;
}*/

/*@keyframes zoom {
  from{width: 30px;}
  to{width: 60px;}
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}*/

.text {
  text-align: center;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  font-size: 20px;
  position: relative;
  line-height: 1.8;
}

/*#about {
  border-bottom: 50px solid rgb(229, 107, 113);
  border-left: 0px solid transparent;
  border-right: 30px solid transparent;
  height: 0px;
  width: 570px;
  position: relative;
  top: 205px;
  z-index: -1;
  opacity: 0.9;
  margin: 0;
}

#work {
  border-bottom: 50px solid rgb(119, 137, 177);
  border-left: 30px solid transparent;
  border-right: 0px solid transparent;
  height: 0px;
  width: 1140px;
  position: relative;
  top: 695px;
  left: 335px;
  z-index: -1;
  opacity: 0.9;
  margin: 0;
}

#edu {
  border-bottom: 50px solid rgb(143, 120, 179);
  border-left: 0px solid transparent;
  border-right: 30px solid transparent;
  height: 0px;
  width: 580px;
  position: relative;
  top: 2278px;
  z-index: -1;
  opacity: 0.9;
  margin: 0;
}

#sk {
  border-bottom: 50px solid rgb(245, 156, 166);
  border-left: 30px solid transparent;
  border-right: 0px solid transparent;
  height: 0px;
  width: 1155px;
  position: relative;
  top: 3427px;
  left: 320px;
  z-index: -1;
  opacity: 0.9;
  margin: 0;
}

#hob {
  border-bottom: 50px solid rgb(102, 160, 160);
  border-left: 0px solid transparent;
  border-right: 30px solid transparent;
  height: 0px;
  width: 550px;
  position: relative;
  top: 4405px;
  z-index: -1;
  opacity: 0.9;
  margin: 0;
}

#learning {
  border-bottom: 50px solid rgb(234, 192, 109);
  border-left: 30px solid transparent;
  border-right: 0px solid transparent;
  height: 0px;
  width: 1155px;
  position: relative;
  top: 4767px;
  left: 320px;
  z-index: -1;
  opacity: 0.9;
  margin: 0;
}

#resources {
  border-bottom: 50px solid rgb(132, 208, 132);
  border-left: 0px solid transparent;
  border-right: 30px solid transparent;
  height: 0px;
  width: 570px;
  position: relative;
  top: 4980px;
  z-index: -1;
  opacity: 0.9;
  margin: 0;
}

#platforms {
  border-bottom: 50px solid rgb(70, 35, 5);
  border-left: 30px solid transparent;
  border-right: 0px solid transparent;
  height: 0px;
  width: 1155px;
  position: relative;
  top: 5305px;
  left: 320px;
  z-index: -1;
  opacity: 0.6;
  margin: 0;
} */

#linkedin, #github {
  width: 30px;
  margin: 15px;
  transition: width 1s;
}

#linkedin:hover, #github:hover {
  width: 40px;
  transition: width 0.4s;
} 