html {
  scroll-behavior: smooth;
}

body {
  background-color:#16161E;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #aaaab3;
  font-size: 20px;
  margin: 0;
  line-height: 1.8;
  text-align: center;  
}

h1 {font-size: 250%;}
h2 {font-size: 200%;}
h3 {font-size: 150%;}
p {font-size: 120%;}

#my_photo {
  border: none;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: 2%;
  width: 25%;
  opacity: 0.5;
}

.about_me {
  background-color: #ea2e49;
  padding: 15px;
  width:150px;
  color: white;
  opacity: 0.5;
  position:absolute;
  top: 30px;
  left: 680px;
  animation: fadeOut 10s ease;
  animation-fill-mode: forwards;
  border-radius: 40px;
  transition: width 1s, transform 1s;
  transform: rotate(100deg);
}

.about_me:hover {
  width: 200px;
  transform: rotate(0deg);
  transition: width 1s, transform 1s;
}

.work {
  background-color: #503178;
  padding: 15px;
  width:150px;
  color: white;
  opacity: 0.5;
  position:absolute;
  top: 130px;
  left: 460px;
  animation: fadeOut 10s ease;
  animation-fill-mode: forwards;
  border-radius: 40px;
  transition: width 1s, transform 1s;
  transform: rotate(25deg);
}

.work:hover {
  width: 200px;
  transform: rotate(0deg);
  transition: width 1s, transform 1s;  
}

.education {
  background-color: #B1733F;
  padding: 15px;
  width:150px;
  color: white;
  opacity: 0.5;
  position:absolute;
  top: 290px;
  left: 410px;
  animation: fadeOut 10s ease;
  animation-fill-mode: forwards;
  border-radius: 40px;
  transition: width 1s, transform 1s;
  transform: rotate(-15deg);
}

.education:hover {
  width: 200px;
  transform: rotate(0deg);
  transition: width 1s, transform 1s;
}

.skills {
  background-color: #29606D;
  padding: 15px;
  width:150px;
  color: white;
  opacity: 0.5;
  position:absolute;
  top: 420px;
  left: 460px;
  animation: fadeOut 10s ease;
  animation-fill-mode: forwards;
  border-radius: 40px;
  transition: width 1s, transform 1s;
  transform: rotate(-25deg);
}

.skills:hover {
  width: 200px;
  transform: rotate(0deg);
  transition: width 1s, transform 1s;
}

.hobbies {
  background-color: #B1AF3F;
  padding: 15px;
  width:150px;
  color: white;
  opacity: 0.5;
  position:absolute;
  top: 160px;
  left: 890px;
  animation: fadeOut 10s ease;
  animation-fill-mode: forwards;
  border-radius: 40px;
  transition: width 1s, transform 1s;
  transform: rotate(-25deg);
}

.hobbies:hover {
  width: 200px;
  transform: rotate(0deg);
  transition: width 1s, transform 1s;
}

.additional_information {
  background-color: #324475;
  padding: 15px;
  width:150px;
  color: white;
  opacity: 0.5;
  position:absolute;
  top: 300px;
  left: 900px;
  animation: fadeOut 10s ease;
  animation-fill-mode: forwards;
  border-radius: 40px;
  transition: width 1s, transform 1s;
  transform: rotate(5deg);
}

.additional_information:hover {
  width: 200px;
  transform: rotate(0deg);
  transition: width 1s, transform 1s;
}

.contact {
  background-color: #328D32;
  padding: 15px;
  width:150px;
  color: white;
  opacity: 0.5;
  position:absolute;
  top: 420px;
  left: 880px;
  animation: fadeOut 10s ease;
  animation-fill-mode: forwards;
  border-radius: 40px;
  transition: width 1s, transform 1s;
  transform: rotate(15deg);
}

.contact:hover {
  width: 200px;
  transform: rotate(0deg);
  transition: width 1s, transform 1s;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(30deg);
  }
}

@keyframes fadeOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}

#my_name {
  letter-spacing: 6px;
  text-align: center;
  font-size: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
  animation: letter_spacing 7s ease;
}

@keyframes letter_spacing {
  from {letter-spacing: 32px;}
  to {letter-spacing: 6px;}
}  

hr {
  width: 20%;
}

div img {
  opacity: 0.8;
  padding: 3px 5px 3px 5px;
  margin: 5px 5px 5px 5px;
}

#section-1 { 
  background-color: #ea2e49;
  opacity: 0.5;
  border-radius: 25px;
  width: 450px;
  text-align: center;
  color: white;
}

#section-2 { 
  background-color: #503178;
  opacity: 0.5;
  border-radius: 25px;
  width: 450px;
  text-align: center;
  color: white;
}

#section-3 { 
  background-color: #B1733F;
  opacity: 0.5;
  border-radius: 25px;
  width: 450px;
  text-align: center;
  color: white;
}

#section-4 { 
  background-color: #29606D;
  opacity: 0.5;
  border-radius: 25px;
  width: 450px;
  text-align: center;
  color: white;
}

#section-5 { 
  background-color: #B1AF3F;
  opacity: 0.5;
  border-radius: 25px;
  width: 450px;
  text-align: center;
  color: white;
}

#section-6 { 
  background-color: #324475;
  opacity: 0.5;
  border-radius: 25px;
  width: 550px;
  text-align: center;
  color: white;
}

main {
  text-align: center;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  font-size: 20px;
  position: relative;
  top: 250px;
  line-height: 1.8;
}

#linkedin, #github {
  width: 30px;
  margin: 15px;
  transition: width 1s;
}

#linkedin:hover, #github:hover {
  width: 40px;
  transition: width 0.4s;
} 