::-webkit-scrollbar {width: 5px;}

::-webkit-scrollbar-corner {height: 10px;}

::-webkit-scrollbar-track {box-shadow: inset 0 0 0px grey; border-radius: 20px;}

::-webkit-scrollbar-thumb {background: grey; border-radius: 20px;}

::-webkit-scrollbar-thumb:hover {width: 10px; background-color: #272626;}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100%;
    width: 98%;
    margin: 0 auto;
}

section {clear: both;}

*, *:after, *:before {box-sizing: border-box;}

main {margin: 0 auto;}

p {
    line-height: 1.8em;
    text-align: center;
    height: auto;
    width: 100%;
    font-size: 20px;
    margin: 0;
    padding: 2%;
    color: azure;
    background-color: #857594;
    grid-row: 3 / 4;
}

@keyframes li-zoomin {
    0% {transform: scale(0.5,0.5); opacity: 0;}
    100% {transform: scale(1,1); opacity: 1;}
}

li {
    border: 1px solid;
    border-style: none;
    margin-right: 3%;
    margin-bottom: 3%;
    padding: 0;
    height: 500px;
    overflow: auto;
    text-align: center;
    display: inline-block;
    animation: li-zoomin 1.5s ease;
    display: grid;
    grid-template-rows: 60px 1fr 1fr;
}

li:after {
    content: "";
    display: table;
    clear: both;
}

h1 {
    text-align: center;
    font-size: 3em;
    margin: 0;
    position: relative;
    top: 20px;
    animation: h1 1s ease;
}

@keyframes h1 {
    from {top: -100px;}
    to {top: 20px;}
}

h2 {margin-top: 50px; padding: 10px;}

h3 {margin-top: 2%; font-size: 24px;}

img {
    margin: 0 auto;
    padding: 10px 0;
    border-radius: 10px;
    position: relative;
    top: -5%;
}


/* float grid */

    /* laptop and wider screens */
    @media only screen and (min-width: 1024px) {
        #grid-floats .grid-item {float: left;}
    
        li {
            width: 22%;
            list-style: none;
            box-shadow: 2px 9px 52px 6px rgba(166,164,166,1);
            position: relative;
            top: 0px;
            transition: box-shadow 0.3s, top 0.5s;
        }

        li:hover {
            box-shadow: 0.1px 0.1px 10px 3px rgba(166,164,166,1);
            position: relative;
            top: 7px;
            transition: box-shadow 0.3s, top 0.5s;
        }

        li:nth-child(1) {
            width: 47%;
            text-align: center;
            display: inline-block;
        }

        li:nth-child(1) p {font-size: 1.7rem;}

        li:nth-child(1) img {width: 50%; margin: auto;}
    
        li img {width: 80%;}

        h1 {font-size: 3rem;}
        
        h2 {font-size: 2rem;}
        
        h3 {font-size: 1.5rem;}
        
        p {font-size: 1.3rem; line-height: 1.5em;}
    }

    /* tablets */
    @media only screen and (min-width: 480px) and (max-width: 1023px) {
        #grid-floats .grid-item {float: left;}

        li {
            width: 30%;
            list-style: none;
            box-shadow: 2px 2px 20px -1px rgba(0,0,0,0.75);
            position: relative;
            top: 0px;
            transition: box-shadow 0.3s, top 0.4s;
        }

        li:hover {
            box-shadow: 0.1px 0.1px 5px 1px rgba(166,164,166,1);
            position: relative;
            top: 3px;
            transition: box-shadow 0.3s, top 0.4s;
        }

        li:nth-child(1), li:nth-child(2) {width: 46.5%;}

        li:nth-child(1) p, li:nth-child(2) p {font-size: 1.5rem;}

        li img {width: 80%;}

        h1 {font-size: 2rem;}
        
        h2 {font-size: 1.7rem;}
        
        h3 {font-size: 1.2rem;}
        
        p {font-size: 1rem; line-height: 1.5em;}
    }

        /* mobiles */
    @media only screen and (max-width: 480px) {        
        main {width: 100%;}
        
        #grid-floats .grid-item {float: left;}

        li {
            width: 45%;
            height: 300px;
            list-style: none;
            box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.75);
            position: relative;
            top: 0px;
            transition: box-shadow 0.4s, top 0.5s;
        }

        li:hover {
            box-shadow: 0.1px 0.1px 3px 1px rgba(166,164,166,1);
            position: relative;
            top: 3px;
            transition: box-shadow 0.4s, top 0.5s;
        }

        li:nth-child(1) {width: 92.7%;}

        li:nth-child(1) p {font-size: 1.1rem;}

        li img {width: 80%;}

        h1 {font-size: 1.7rem;}
        
        h2 {font-size: 1.4rem;}
        
        h3 {font-size: 0.8rem;}
        
        p {font-size: 0.8rem; line-height: 1.5em;}
    }


/* flex-box grid (properties which are not written below, are inherited from float-grid section)*/

    /* laptops and wider screens */
    @media only screen and (min-width: 1024px) {        
        #grid-flex {display: flex; flex-flow: row wrap;}
    }

        /* tablets */
    @media only screen and (min-width: 480px) and (max-width: 1024px) {
        #grid-flex {display: flex; flex-flow: row wrap;}
    }

        /* mobiles */
    @media only screen and (max-width: 480px) {
        #grid-flex {display: flex; flex-flow: row wrap;}
    }
